<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fyp.bandfeed"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".AddNewBandStepOne"
            android:label="@string/title_activity_step_one" >
            
        </activity>
        <activity
            android:name=".WTF"
            android:label="@string/title_activity_wtf" >
            
        </activity>
        <activity
            android:name=".AddNewBandStepTwo"
            android:label="@string/title_activity_step_two" >
            
        </activity>
        <activity
            android:name=".AddNewBandStepThree"
            android:label="@string/title_activity_step_three" >
        </activity>
    </application>

</manifest>